page-home {

.login
{
    margin-top:5em;
}

.backgrnd
{
// background:url('http://il9.picdn.net/shutterstock/videos/12981347/thumb/1.jpg')no-repeat center center fixed;    
background:url('../assets/taxi.jpg')no-repeat center center fixed;    

background-size: cover;
}
}
